streamlit==1.40.1
groq>=0.33.0
python-dotenv
chromadb
pypdf
pymupdf
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
pysqlite3-binary
matplotlib
fpdf2
tavily-python
sentence-transformers
transformers
matplotlib-venn
pandas
openpyxl
seaborn
scipy
scikit-learn
